{% from "../../../utils/utils.njk" import renderClassesIfMatched %}

{% macro grid(modifiers = []) %}
    {% set gridModifiers = [
        'grid--reverse',
        'grid--align-mid',
        'grid--flex',
        'grid--gutterless',
        'grid--tight',
        'grid--spaced',
        'grid--pixelgutter'
    ] %}

    <div class="grid
        {% call renderClassesIfMatched(modifiers, gridModifiers) %}{%- endcall %}">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro grid__col(utilities = []) %}
    {% set gridColUtils = [
        'col',
        'pull',
        'push'
    ] %}

    {% set gridColSpaceRange = {
        min: 1,
        max: 12
    } %}

    <div class="grid__col
        {% for util in utilities | list %}
            {% if util.type in gridColUtils
            and util.space >= gridColSpaceRange.min
            and util.space <= gridColSpaceRange.max %}
                {{ util.type }}-{{ util.space }}@{{ util.size }}
            {% endif %}
        {% endfor %}">

        {{ caller() }}
    </div>
{% endmacro %}
