{% extends "./layout/_eq-page.njk" %}

{##
 # Pattern library imports and aliases
 #}
{% macro panelV15(params) %}{% include 'pattern-library-v2/0.1.5/src/components/panel/_template.njk' %}{% endmacro %}
{% macro panelLatest(params) %}{% include 'pattern-library-v2/latest/src/components/panel/_template.njk' %}{% endmacro %}
{% macro button(params) %}{% include 'pattern-library-v2/0.1.5/src/components/button/_template.njk' %}{% endmacro %}

{% from "./components/grid/grid.njk" import grid, grid__col %}

{% block page__subheader %}
    <div class="container">
        <a class="js-previous-link" href="http://localhost:4000/your-household-v11-cy/visitors/">Yn flaenorol</a>
    </div>
{% endblock %}

{% block page__container %}
    {% call grid(['grid--reverse']) %}
        {% call grid__col([{type: 'col', space: 4, size: 'm' }]) %}{%- endcall %}
        {% call grid__col([
            {type: 'col', space: 7, size: 'm' },
            {type: 'pull', space: 1, size: 'm' }
        ]) %}
            <main role="main" id="main" class="page__main">
                <div class="feedback__inline js-feedback-inline is-collapsed">
                    <div class="feedback__border">
                    </div>
                </div>

                <div class="group u-mb-m">
                    <div class="block">

                        <div class="question u-mb-s">
                            <h1 id="question-title" class="question__title u-fs-l" data-qa="question-title">Beth yw enw'r  ymwelydd sy'n aros dros nos ar 3 Chwefror 2019 yn 123,  ddger?</h1>

                            {% call panelV15({ classes: 'u-mb-m' }) %}
                                <strong class="u-mb-xs u-d-b">Dylech gynnwys</strong>
                                <ul class="js-visitor-includes">
                                    <li class="list__item">Pobl sy’n byw y tu allan i’r Deyrnas Unedig fel arfer, ond sy’n aros yn y Deyrnas Unedig am lai na dri mis</li>
                                    <li class="list__item">Pobl sydd ar wyliau yma Neu</li>
                                </ul>
                            {%- endcall %}

                            {% call panelLatest({ classes: 'u-mb-m' }) %}
                                <strong class="u-mb-xs u-d-b">Dylech gynnwys</strong>
                                <ul class="js-visitor-includes">
                                    <li class="list__item">Pobl sy’n byw y tu allan i’r Deyrnas Unedig fel arfer, ond sy’n aros yn y Deyrnas Unedig am lai na dri mis</li>
                                    <li class="list__item">Pobl sydd ar wyliau yma Neu</li>
                                </ul>
                            {%- endcall %}

                            <div id="member-list"></div>

                            <fieldset class="question__fieldset js-question-fieldset u-mb-s">
                                <legend class="u-vh">What is your name?</legend>

                                <div class="question__answers">
                                    <div class="question__answer">
                                        <label class="label" for="first-name">
                                            <div class="label__inner">
                                                Enw cyntaf
                                            </div>
                                        </label>
                                        <input class="input input--text " id="first-name" data-qa="input-text" value="">
                                    </div>

                                    <div class="question__answer">
                                        <label class="label ">
                                            <div class="label__inner">
                                                Enw(au) canol
                                            </div>
                                        </label>
                                        <input class="input input--text " id="middle-name" data-qa="input-text" value="">
                                    </div>

                                    <div class="question__answer">
                                        <label class="label ">
                                            <div class="label__inner">
                                                Cyfenw
                                            </div>
                                        </label>
                                        <input class="input input--text " id="last-name" data-qa="input-text" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <p class="u-mb-no"><a class="js-cancel-return" href="http://localhost:4000/your-household-v11-cy/visitors/" style="">Canslo a dychwelyd i'r cwestiwn blaenorol</a></p>

                <div class="js-remove-section" style="display:none;">
                    <p>If you have added this person by mistake or if
                        circumstances have changed, you can remove them.</p>

                    <button class="btn btn--secondary btn--small js-remove-person">Remove this person</button>
                </div>

                <div class="u-mt-xl">
                    {{ button({
                        "type": 'button',
                        "element": 'button',
                        "text": 'Cadw a pharhau',
                        "name": 'action[save_continue]'
                    }) }}
                </div>
            </main>
        {%- endcall %}
    {%- endcall %}
{% endblock %}
