{% extends "./layout/_eq-page.njk" %}

{##
 # Pattern library imports and aliases
 #}
{% macro panelFromPatternLibrary2v150(params) %}{% include 'pattern-library-v2/0.1.5/src/components/panel/_template.njk' %}{% endmacro %}
{% macro panelFromPatternLibrary2vLatest(params) %}{% include 'pattern-library-v2/latest/src/components/panel/_template.njk' %}{% endmacro %}
{% macro button(params) %}{% include 'pattern-library-v2/0.1.5/src/components/button/_template.njk' %}{% endmacro %}
{% macro collapsible(params) %}{% include 'pattern-library-v2/0.1.5/src/components/accordion/_template.njk' %}{% endmacro %}

{% from "./components/grid/grid.njk" import grid, grid__col %}

{% block page__header %}
    {{ super() }}
    <script src="test.js"></script>
{% endblock %}

{% block page__subheader %}
    <div class="container">
        <a href="/">Previous</a>
    </div>
{% endblock %}

{% block page__container %}
    {% call grid(['grid--reverse']) %}
        {% call grid__col([{type: 'col', space: 4, size: 'm' }]) %}{%- endcall %}
        {% call grid__col([
            {type: 'col', space: 7, size: 'm' },
            {type: 'pull', space: 1, size: 'm' }
        ]) %}
            <main role="main" id="main" class="page__main">
                <div class="feedback__inline js-feedback-inline is-collapsed">
                    <div class="feedback__border"></div>
                </div>

                <div class="group u-mb-m">
                    <div class="block">

                        <div class="question u-mb-s">
                            <h1 id="question-title" class="question__title u-fs-l" data-qa="question-title">Question title</h1>

                            {%- call panelFromPatternLibrary2v150({ classes: 'u-mb-m' }) %}
                                <strong class="u-mb-xs u-d-b">Pattern library version 0.1.5</strong>
                                <ul>
                                    <li class="list__item">Lorem ipsum dolar sit emit remus</li>
                                    <li class="list__item">Ipsum dolar sit emit remus</li>
                                </ul>
                            {%- endcall %}

                            {%- call panelFromPatternLibrary2vLatest({ classes: 'u-mb-m' }) %}
                                <strong class="u-mb-xs u-d-b">Pattern library version latest</strong>
                                <ul>
                                    <li class="list__item">Lorem ipsum dolar sit emit remus</li>
                                    <li class="list__item">Ipsum dolar sit emit remus</li>
                                </ul>
                            {%- endcall %}

                            <div id="member-list"></div>

                            <fieldset class="question__fieldset js-question-fieldset u-mb-s">
                                <legend class="u-vh">Legend</legend>

                                <div class="question__answers">
                                    <div class="question__answer">
                                        <label class="label" for="first-name">
                                            <div class="label__inner">
                                                Example field 1
                                            </div>
                                        </label>
                                        <input class="input input--text " id="first-name" data-qa="input-text" value="">
                                    </div>

                                    <div class="question__answer">
                                        <label class="label ">
                                            <div class="label__inner">
                                                Example field 2
                                            </div>
                                        </label>
                                        <input class="input input--text " id="middle-name" data-qa="input-text" value="">
                                    </div>

                                    <div class="question__answer">
                                        <label class="label ">
                                            <div class="label__inner">
                                                Example field 3
                                            </div>
                                        </label>
                                        <input class="input input--text " id="last-name" data-qa="input-text" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                {#{{ collapsible({
                    "id": "accordion",
                    "buttonOpen": "Show",
                    "buttonClose": "Hide",
                    "openAll": "Show all",
                    "closeAll": "Hide all",
                    "items": [
                        {
                            "title": "Total retail turnover",
                            "content": "<h3 class=\"u-fs-r\">Include:</h3><ul class=\"list\"><li class=\"list__item\">VAT</li><li class=\"list__item\">internet sales</li><li class=\"list__item\">retail sales from outlets in Great Britain to <a href=\"#\">customers abroad</a></li></ul><h3 class=\"u-fs-r\">Exclude:</h3><ul class=\"list\"><li class=\"list__item\">revenue from mobile phone network commission and top-up</li><li class=\"list__item\">sales from catering facilities used by customers</li><li class=\"list__item\">lottery sales and commission from lottery sales</li><li class=\"list__item\">sales of car accessories and motor vehicles</li><li class=\"list__item\">NHS receipts</li><li class=\"list__item\">automotive fuel</li></ul>"
                        },
                        {
                            "title": "Food sales",
                            "content": "<h3 class=\"u-fs-r\">Include:</h3><ul class=\"list\"><li class=\"list__item\">all fresh food</li><li class=\"list__item\">other food for human consumption (except chocolate and sugar confectionery)</li><li class=\"list__item\">soft drinks</li></ul><h3 class=\"u-fs-r\">Exclude:</h3><ul class=\"list\"><li class=\"list__item\">sales from catering facilities used by customers</li></ul>"
                        },
                        {
                            "title": "Alcohol, confectionery, soft drinks and tobacco sales",
                            "content": "<h3 class=\"u-fs-r\">Include:</h3><ul class=\"list\"><li class=\"list__item\">chocolate and sugar confectionery</li><li class=\"list__item\">tobacco and smokers’ requisites</li></ul>"
                        }
                    ]
                }) }}#}


                <div class="u-mt-xl">
                    {{ button({
                        "type": 'button',
                        "element": 'button',
                        "text": 'Save and continue',
                        "name": 'action[save_continue]'
                    }) }}
                </div>
            </main>
        {%- endcall %}
    {%- endcall %}
{% endblock %}
